<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService xmlns:con="http://eviware.com/soapui/config" addUnmatchedOperation="false" autoStart="false" host="localhost" id="36012cfe-da96-421a-a9d9-40984239f548" name="rmit-process-api-canvas Virtual Service" path="/" port="8088" routeEndpoint="https://procs-canvas-v1-dev.npe.integration.rmit.edu.au" routeModeEnabled="false" routeUnmatchedOperation="false">
  <con:settings id="c10466a5-f09b-47e7-91d7-c05298654a63">
    <con:setting id="36012cfe-da96-421a-a9d9-40984239f548fileName">rmit-process-api-canvas-Virtual-Service</con:setting>
  </con:settings>
  <con:properties/>
  <con:constraints>
    <con:congestion>0</con:congestion>
    <con:inputBandwidth>-1</con:inputBandwidth>
    <con:outputBandwidth>-1</con:outputBandwidth>
    <con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity>
    <con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity>
    <con:virtError>
      <con:start>0</con:start>
      <con:endless>true</con:endless>
    </con:virtError>
  </con:constraints>
  <con:headerValidator type="NONE"/>
</con:restMockService>
